<app-toast></app-toast>
<div class="flex justify-content-between align-items-center w-full h-screen">
  <div class="flex w-full justify-content-center align-items-center">
    <form
      class="form-wrapper"
      [formGroup]="postForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="form-style grid mx-8">
        <h1 class="pl-4">Đăng nhập</h1>
        <div class="col-12 px-4 grid form-style">
          <div class="field col-12">
            <label htmlFor="username"> Tên đăng nhập</label>
            <input
              libInput
              id="username"
              formControlName="username"
              type="text"
              placeholder="Tên đăng nhập"
              maxlength="20"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  postForm?.get('username')?.invalid &&
                  postForm?.get('username')?.touched
              }"
            />
          </div>
          <div class="field col-12">
            <label htmlFor="password"> Mật khẩu</label>
            <input
              libInput
              id="password"
              formControlName="password"
              type="text"
              placeholder="Mật khẩu"
              maxlength="20"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  postForm?.get('password')?.invalid &&
                  postForm?.get('password')?.touched
              }"
            />
          </div>

          <span class="error-text pl-3 mt-2" *ngIf="errorMsg?.length">{{
            errorMsg
          }}</span>

          <div class="field col-12 mt-3">
            <button libButton class="w-full" type="submit">Đăng nhập</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div
    class="w-full h-full justify-content-center align-items-center right-site"
  >
    <!-- <img
      class="image-bgc"
      src="{{ LoginBackgroundImg }}"
      alt="LoginBackgroundImg"
    /> -->
  </div>
</div>
